<div class="row my-3 justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                Check List
            </div>
            <div class="card-body mb-5">
                <app-add-task-form (add)="add$$.next($event)" />
                <ng-container *ngIf="tasks()?.length else empty">
                    <app-check-list-item *ngFor="let task of tasks()" [task]="task" (delete)="delete$$.next($event)" (toggle)="toggle$$.next($event)" />
                </ng-container>
                <ng-template #empty>
                    <div class="card-text my-5 text-center ">
                        Ajoute ta première tâche 👋
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
</div>